<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="style.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="config.def.js"></script>
    <script src="config.js"></script>
    <script>
      NaT = angular.module('NaT', []);

      NaT.service('Firebase', [function(){
        return new Firebase(FIREBASE_ACCOUNT);
      }]);
    </script>
    <script src="controller.js"></script>
  </head>
  <body ng-app="NaT" ng-controller="MainController">
    <div class="container-fluid">
      
      <form ng-submit="addValue()" class="pure-form new-record">
        <div class="pure-g">
          <div class="pure-u-7-24">
            <input type="number" required ng-model="amount" id="number" placeholder="0" class="w100" style="font-size: 150%;"/>
          </div>
          <div class="pure-u-1-24"></div>
          <div class="pure-u-10-24">
            <textarea ng-model="tags" required placeholder="food, sandwiches" class="w100" style="font-size: 100%;" rows="2"></textarea><br>
          </div>
          <div class="pure-u-1-24"></div>
          <div class="pure-u-5-24">
            <button class="pure-button pure-button-primary w100" style="font-size: 150%;">Add</button>
          </div>
        </div>
        <div class="show_tags">
          <a href="#" ng-click="showTags(true)" ng-if="!show_tags">show tags</a>
          <a href="#" ng-click="showTags(false)" ng-if="show_tags">hide tags</a>
        </div>
        <div class="tags" ng-if="show_tags">
          <a class="pure-button tag" ng-repeat="tag in allTags" ng-click="addTag(tag)">{{tag}}</a>
        </div>
      </form>

      <table class="pure-table pure-table-horizontal" style="width:100%;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Value</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in collection.slice().reverse()">
            <td></td>
            <td>{{item.value}}</td>
            <td>{{item.tags.join(', ')}}</td>
          </tr>
          <tr class="pure-table-odd">
            <td style="text-align:right;"><b>Total:</b></td>
            <td><b>{{total}}</b></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!-- <div ng-repeat="item in tagsPrice">{{item.tag}} — {{item.value}}</div> -->
    </div>
  </body>
</html>
